#container{
    width: 600px;
    margin: 0 auto;
}
table{
    
    border-collapse: collapse;
}
td{
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 0.9em;
}
h2{
    color: brown;
    font-weight: bold;
    text-align: center;
}